
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h1>Kahramanmaraş Otel</h1>

        <h3>Hakkımızda:</h3>
        <p>
            Kahramanmaraş Otel konuklarımıza rahat ve dinlendirici bir konaklama, ücretsiz yüksek hızlı internet erişimi, kaliteli ve konforlu hizmet anlayışıyla hareket ediyor. 144 standart oda ve 20 suit oda olmak üzere, 1 engelli odası da dâhil toplamda 165 oda ve 330 yatak kapasiteli otelimiz, evinizdeki konforu aratmayacak… Otelimiz 7/24 tecrübeli ve donanımlı reception çalışanları ile birlikte, bellboy ve doorman hizmeti vermektedir. Ayrıca misafirlerimizin çalışma alanı olarak kullanabileceği 1 adet Business Center bulunmaktadır.<br />
            AllDayDining ve Dünya mutfağından özel spesiyaller sunan iki restoranı bulunan Ramada Plaza By Wyndham Kahramanmaraş'ta gastronomik keşiflerin tadını çıkarabilir, tadı damağınızda kalacak lezzetlerle tanışabilirsiniz. Konuklarımız için doğa ve göl manzarasına sahip terasımız da ayrı bir keyif vermektedir. <br />
            Toplantı ve etkinliklerinizi daha anlamlı ve özel kılmak için Ramada Plaza By Wyndham Kahramanmaraş sizlere istekleriniz doğrultusunda değerlendirebileceğiniz her imkânı sunuyor. 5 ayrı esnek toplantı salonlarımızda en doğru kararları alabilir, konferans ve düğün gibi organizasyonlarınız için son teknoloji ile donatılmış salonlarımızdan faydalanarak özel günlerinizi taçlandırabilirsiniz. <br />
            Kahramanmaraş'taki huzurlu ve konforlu eviniz Kahramanmaraş Otel'e' sizi bekliyor.
        </p>
        <hr />
        @Html.ActionLink("Anasayfa", "Index") |
        @Html.ActionLink("Hakkımızda", "About") |
        @Html.ActionLink("Odalar", "Index", "Vehicle") |
        @Html.ActionLink("İletişim", "Contact")
    </div>
</body>
</html>
